/*****************************************************************************
 * 
 * I like the color schema of http://10to1.be, it has great readablity, so I
 * adapted (or copied) it here, to make my readers enjoyable.
 * The layout is adapted from the default http://tom.preston-werner.com.
 *
 * Until I get permission from original authors, you may not use it freely, 
 * maybe me too.
 *
 *****************************************************************************/

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  color: #ccc;
  font: 13.34px "Droid Sans", "Lucida Grande", helvetica, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #3F8FD2;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}

a:visited {
  border-bottom: 0;
}

a:hover {
  border-bottom: 1px solid #666;
}

table {
  font-size: inherit;
  font: 100%;
}

button,
input {
}

input[type=submit],
button {
}

textarea {
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  span.timestamp {
    color: #666;
    font-family: Monaco, Inconsolata, "Droid Sans Mono", monospace, "Courier New";
    font-size: 80%;
  }
  span.timestamp:after {
    content: " \00BB  ";
  }


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #666;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #666;
    text-decoration: none;
  }

  .site .title a:hover {
    color: #ccc;
  }

  .site .title a.extra {
    color: #666;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: #ccc;
  }

  .site .meta {
    color: #666;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #333;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #999;
      }

    .site .footer .rec {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rec img {
        border: 0;
	width: 77px;
	height: 64px;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #111;
    padding: 1em .4em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #1a1a1a;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    color: #999;
    font-size: 80%;
    padding: 0 .2em;
  }

    #post pre code {
      display: block;
    }

  /* terminal */

  #post pre.terminal {
    color: #999;
  }

  #post pre.terminal code {
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
