body { color: #666; background: #eee; padding: 2em 0; }

a { color: #3f8fd2; text-decoration: none; border-bottom: 1px dotted; }
a:visited { border-bottom: 0; }
a:hover { border-bottom: 2px solid; }

#nav { color: #999; margin-bottom: 4em; }
#nav a { font-size: 1.2em; margin-right: 1em; }
#headline .tagline { font-size: .6em; margin-left: .6em; }
.site { font-size: 1.08em; width: 40em; margin: auto; line-height: 1.5em; }
.site .footer { font-size: .9em; overflow: hidden; margin-top: 4em; }
.site .footer .rec { padding: 1em 0; border-bottom: 2px solid #ccc; }
.site .footer .rec img { border: 0; width: 125px; height: 125px; }
.site .footer .copyright { padding: 1em 0; }

.posts { margin-bottom: 2em; }
.posts .timestamp:after { content: " » "; }
.posts .timestamp {
  color: #666;
  font-family: Monaco, monospace;
  font-size: 80%;
}
.posts li { list-style-type: none; line-height: 1.75em; }

#post pre {
  color: #ddd;
  padding: 1em .4em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #333;
}

#post .meta:before { content: "⌚ "; }
#post p:last-child:after { content:" ♨"; }
#post ul, #post ol { margin-left: 1.25em; }
#post code { font-size: .9em; padding: 0 .4em; }
#post pre code { display: block; }
/* terminal code */
#post pre.terminal {}
#post pre.terminal samp {}
#post pre.terminal code {}

#related { margin-top: 2em; }
#related h2 { margin-bottom: 1em; }
