/* Desktop */
@media all and (min-width: 600px) {.column{width:560px;margin:0 auto;}}
/* Mobile */
@media all and (max-width: 600px) {.column{margin:0 2em;}}

body { color: #666; background:#eef; }

a { color: #369; text-decoration: none; }
a:visited { color: #936; }
a:hover { text-decoration: underline; }
h1,h2,h3,h4 {font-weight:bold;padding:1em 0;}
h1 {font-size:2em;}
h2 {font-size:1.4em;}
h3 {font-size:1.2em;}

nav {float:right;color:#666;}
#headline {clear:both;padding:0;}
.column {font-size:1.08em;line-height:1.5em;padding:1.2em 0;}
#bd {background:#fff;min-height:560px;box-shadow:0 1px 4px 2px #ddd;}

.posts { margin-bottom: 2em; }
.posts li {list-style-type:none;line-height:1.75em; }
.posts .timestamp:after { content: " » "; }
.posts .timestamp {font-family:Monaco,monospace;font-size:80%;}

#post {border-bottom:1px #eee solid;padding-bottom:1em;}
#post p {padding:.5em 0;}
#post .meta:before { content: "⌚ "; }
#post p:last-child:after { content:" ♨"; }
#post ul, #post ol {margin-left:1.25em;}
#post pre {color:#fff;padding:.8em .4em;border-radius:5px;background:#666;margin:.25em 0;}
#post code {font-size:.9em;padding:0 .4em;}
#post pre code { display: block; }

p.quote {text-align:center;color:#ccc;}
