body { color: #666; background: #eee; padding: 2em 0; }

a { color: #3f8fd2; text-decoration: none; border-bottom: 1px dotted; }
a:visited { border-bottom: 0; }
a:hover { border-bottom: 2px solid; }

#nav { color: #999; margin: 1em 0 4em 0; }
#nav a { font-size: 1.2em; margin-right: 1em; }
.site { font-size: 1.08em; width: 40em; margin: auto; line-height: 1.5em; }
.site .meta { font-size: .9em; font-style: italic; }
.site .footer { font-size: .9em; margin-top: 2em; overflow: hidden; }
.site .footer .contact { float: left; margin-right: 3em; }
.site .footer .contact a { color: #999; }
.site .footer .rec { margin-top: 1.1em; margin-right: -.2em; float: right; }
.site .footer .rec img { border: 0; width: 77px; height: 64px; }


ul.posts { margin-bottom: 2em; }
ul.posts li { list-style-type: none; line-height: 1.75em; }
span.timestamp { color: #666; font-family: Monaco, monospace; font-size: 80%; }
span.timestamp:after { content: " \00BB  "; }

#post pre {
  color: #ddd;
  padding: 1em .4em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #333;
}

#post p:last-child:after { content:" ¶"; }

#post ul, #post ol { margin-left: 1.25em; }
#post code { font-size: .9em; padding: 0 .4em; }
#post pre code { display: block; }

/* terminal code */
#post pre.terminal { color: #999; }
#post pre.terminal code {}

#related { margin-top: 2em; }
#related h2 { margin-bottom: 1em; }
