<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <title>{{ page.title }} - walkingcloud.org</title>
   <meta name="author" content="jüvenn woo" />
   <link rel="shortcut icon" href="/media/images/favicon.ico" />

   <!--
   <link rel="stylesheet"
   href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" type="text/css" />
   --!>
   <link rel="stylesheet" href="/media/css/yui3reset.css" type="text/css" />
   <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
   <link rel="stylesheet" href="/media/css/code.css" type="text/css" />

</head>
<body>

  <div id="hd" class="container">
    <div class="nav column">
      <nav>
      <a href="/">home</a>
      &bull;
      <a rel="archives" href="/archive.html">archive</a>
      &bull;
      <a title="feed" href="http://feeds.feedburner.com/walking-cloud">feed</a>
      &bull;
      <a rel="me" title="twitter"
	href="http://twitter.com/juvenn">twitter</a>
      </nav>
      <h2 id="headline">
	<span class="author">☁  walkingcloud.org</span>
      </h2>
    </div>
  </div>
  <div id="bd" class="container">
    <div class="column">
      {{ content }}
    </div>
  </div>
  <div id="ft" class="container">
    <div class="column">
      <p class="quote">be brave be beautiful</p>
      <p class="copyright">2009 - 2012 &copy; jv, feel free to email me
      at machese+blog@gmail.com.
      </p>
    </div>
  </div>

<!-- GitHub Ribbon
<a href="http://github.com/juvenn"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
--!>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-157277-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>

</body>
</html>
