<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=560px" />
   <title>{{ page.title }} - walkingcloud.org</title>
   <meta name="author" content="Jüvenn Woo" />

   <link rel="stylesheet" href="/media/css/style.css" type="text/css" />

</head>
<body>

<header>
<nav>
<a href="/">walkingcloud.org</a>
      &bull;
      <a href="/">about</a>
      &bull;
      <a rel="archive" href="/archive.html">archive</a>
      &bull;
      <a title="feed" href="http://feeds.feedburner.com/walking-cloud">feed</a>
      &bull;
      <a rel="me" title="twitter"
	href="http://twitter.com/juvenn">twitter</a>
</nav>
</header>

{{ content }}

<footer>
  <p>
  I'm <a href="/">juvenn</a>, I make software. Email me at
<a href="mailto:machese@gmail.com">machese@gmail.com</a>.
  </p>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-157277-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>

</body>
</html>
