<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Juvenn Woo | {{ page.title }}</title>
   <meta name="author" content="Juvenn Woo" />
   <link rel="shortcut icon" href="/favicon.ico" />
   <link rel="alternate" href="http://feeds.feedburner.com/hacking-juvenn" type="application/atom+xml" title="Burned Feed" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/media/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/media/css/basic.css" type="text/css" />
   <link rel="stylesheet" href="/media/css/style.css" type="text/css" />

   <!-- 
   <link rel="stylesheet" href="/media/css/basic.css" type="text/css" media="screen, projection" />
   -->

</head>
<body>

<div class="site">
  <div id="nav">
    <h2 id="headline">
      <span class="author">Juvenn Woo</span>
      <span class="tagline">the journeyman.</span>
    </h2>
    <a class="extra" href="/">home</a>
    <a rel="archives" class="extra" href="/archive">archive</a>
    <a class="extra" title="Burned Feed" href="http://feeds.feedburner.com/hacking-juvenn">feed</a>
    <a rel="me" class="extra" title="twitter/juvenn" href="http://twitter.com/juvenn">@juvenn</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="rec">
      <a title="Basecamp affiliate link" href="http://basecamphq.com/?referrer=JUVENNWOO">
	<img alt="Basecamp - effective project collaboration" src="http://37signals.com/images/logo-black-basecamp.png" /></a>
      Juvenn prefers Basecamp for project collaboration.
      <a title="Basecamp - effective project collaboration"
	href="http://basecamphq.com/?referrer=JUVENNWOO">Will you</a>? [Ad]
    </div>
    <p class="copyright">&copy; 2009 - 2010 Juvenn Woo. Drop email at:
    <a href="#">machese+gh@gmail.com</a>.
    </p>
  </div>
</div>
<a href="http://github.com/juvenn"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-157277-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>

</body>
</html>
