---
layout: default
---

<div id="post">
  <h1>{{ page.title }}</h1>
  <div class="meta">{{ page.date | date_to_string}}
  </div>
  {{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_developer = true;
  var disqus_iframe_css = "http://10to1.github.com/css/disqus.css";
</script>
<script type="text/javascript" src="http://disqus.com/forums/coding-juvenn/embed.js">
</script>
<noscript><a href="http://disqus.com/forums/coding-juvenn/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>
