<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="keywords" content="数据恢复, 网站开发, 重庆, 巫山,
    404700">
    <meta name="description" content="⎇云咨询 - Cloud Consulting">
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/media/css/service.css">
    <title>⎇ 云咨询 - Cloud Consulting</title>
  </head>

  <body>
    <div id="header" class="">
      <div id="logo">
	<h1>⎇ 云咨询℠</h1>
	<h3>Cloud Consulting</h3>
      </div>
      <div id="contact" item="vcard">
	<h3 itemprop="n" item>
	  <span itemprop="family-name">吴</span>
	  <span itemprop="given-name">尤文</span> &#183;
	  <span itemprop="additional-name">Juvenn Woo</span>
	</h3>
	<p class="email" itemprop="email">machese@gmail.com</p>
	<p class="tel" itemprop="tel">(+86)158 5602 7510</p>
	<p class="adr" itemprop="adr" item>
	  <span itemprop="region">重庆市</span>
	  <span itemprop="locality">巫山县</span>
	  <span itemprop="postal-code">404700</span>
	</p>
      </div>
    </div>
    <div id="main">
      {{ content }}
    </div>
    <div id="footer">
      (c) 2010 Juvenn Woo. XCode graphic and RAID(0+1) icon credit: Apple, Inc.  
    </div>
  </body>
</html>

